@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

*{
  font-family: "Underdog", system-ui;
  font-weight: 400;
  font-style: normal;
}
  
body {
  background-attachment: fixed;
  color: white;
  text-shadow: rgb(91, 91, 91) 1px 1px 7px;
}

a{
    text-decoration: none;
}

.back-icon{
    position: absolute;
    margin-left: 30px;
    width: 45px;
    height: auto;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: ease-in 0.2s;
}

.back-icon:hover{
    background: rgba(255, 255, 255, 0.2);
}

/* Auth starts */

.logo_and_name{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo_and_name::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 46%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow:
    0 0 15px rgba(255, 255, 255, 0.8),
    0 0 30px rgba(220, 220, 220, 0.4),
    0 0 45px rgba(190, 190, 190, 0.3);
    animation: logoGlow 2s infinite ease-in-out;
    z-index: -1;
}
@keyframes logoGlow {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.8;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.8;
    }
}
.logo_and_name img{
    width: 70px;
    padding: 0 10px;
}
.auth-details{
    margin-top: 10px;
    width: fit-content;
    padding: 40px 50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 4px 5px rgba(1, 1, 1, 0.2);
}
.auth-details h1{
    font-size: 40px;
    margin: 0 0 30px 0;
}
.auth-details p{
    margin: -10px -120px 0 0;
    width: fit-content;
    font-size: 14px;
    cursor: pointer;
    transition: ease 0.3s;
}
.auth-details p:hover{
    text-shadow: white 0px 0px 10px;
}
.auth-details .input-box{
    position: relative;
    margin-bottom: 20px;
}
.auth-details .input-box select{
    appearance: none;
    background-color: black;
    width: 40px;
    padding: 10px 0 10px 5px;
    color: white;
    font-size: 16px;
    outline: none;
    background: transparent;
    border: 1px solid white;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: ease 0.3s;    
}
.auth-details .input-box select:focus{
    box-shadow: white 0px 0px 5px;
}
.auth-details .input-box select option{
    color: black;
}
.auth-details .input-box input{
    width: 200px;
    padding: 10px;
    color: white;
    font-size: 16px;
    outline: none;
    background: transparent;
    border: 1px solid white;
    /* box-shadow: rgb(192, 192, 192) 0px 0px 6px; */
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
    transition: ease 0.3s;
}
.auth-details .input-box label{
    position: absolute;
    margin: 10px 0 0 -210px;
    color: rgb(185, 185, 185);
    pointer-events: none;
    transition: ease 0.4s;
}
.auth-details .input-box input:focus{
    box-shadow: white 0px 0px 5px;
}
.auth-details .input-box input:focus + label,
.auth-details .input-box input:valid + label{
    margin-top: -8px;
    color: white;
    font-size: 12px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.auth-details .auth-button input{
    margin: 0;
    padding: 5px 15px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.3);
    transition: ease 0.3s;
}
.auth-details .auth-button input:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 1px 5px 3px rgba(255, 255, 255, 0.2);
}
.auth-details .auth-button input:active{
    transform: scale(0.9);
}
.auth-details .top{
    margin-bottom: 15px;
    font-size: 14px;
}
.auth-details .last{
    margin-top: 15px;
    font-size: 14px;
}
.auth-details .last span{
    color: rgb(0, 255, 229);
    cursor: pointer;
    transition: ease 0.3s;
}
.auth-details .last span:hover{
    text-shadow: rgb(0, 255, 229) 0px 0px 8px;
}

/* Auth ends */